{% include "navbar/nav.html" %}
{% load staticfiles %}
<br>
<br>
<div class="container">
	<div class="row">
        <div class="col-md-3 text-center">
            <br>
            <div style="border-bottom: 2px solid #ccc;">
            {% if persondetails.profileimage %}
                <img src ="{{ persondetails.profileimage.url }}" style="width: 60%; border: 2px solid #fff; border-radius: 50%; display: block; margin: auto;">
            {% else %}
                <img src ="{% static 'images/person-icon.png' %}" style="width: 60%; border: 2px solid #fff; border-radius: 50%; display: block; margin: auto;">
            {% endif %}
                <br>
                {% if persondetails.firstname or persondetails.lastname %}
                <h4>{{ persondetails.firstname }} {{ persondetails.lastname }}</h4>
                {% endif %}
                <h5 style="color: #9e9e9e"><strong>Following({{ following }}) | Followers({{ followers }})</strong></h5>

            </div>
            <br>
            {% if cannotfollow == False%}
            <div id = "deletelink" >
               <a href="{% url 'follow_user' person.username %}"><button type="button" class="btn btn-primary" id = "followbutton">Follow</button></a>
            </div>
            <div id ="confirmfollow"></div> 
            <br>
            {% endif %} 
            <div style="text-align: left;">
                {% if persondetails.works_at %}
                   <p><strong>WORKS AT : &nbsp</strong>{{ persondetails.works_at }}</p>
                {% endif %}
                {% if persondetails.collage %}
                   <p><strong>COLLAGES : &nbsp</strong>{{ persondetails.collage }}</p>
                {% endif %}
                {% if persondetails.location %}
                   <p><strong>LOCATION: &nbsp</strong>{{ persondetails.location }}</p>
                {% endif %}
            </div>
        </div>
		<div class="col-md-6 text-center" style="">
			<div class="" style=" padding-left: 5%">
				<br>
				<br>
                <ul class="nav nav-tabs" style="border-bottom: 2px solid #ccc;">
                    <li role="presentation" class="usermenu"><a href="{% url 'profile' person.username %}" style="color: #757575;">Activities</a></li>
                    <li role="presentation" class="usermenu"><a href="{% url 'profileinfo'  person.username %}" style="color: #757575;">Profile Details</a></li>
                    {% if person.username != request.user.username %}
                    <li role="presentation" class="usermenu"><a href=""
                    style="color: #757575;">Messages</a></li>
                    {% endif %}
                    {% if person.username == request.user.username %}
                    <li role="presentation" class="usermenu"><a href="{% url 'edit_profile_person' person.username %}"
                    style="color: #757575;">Edit credentials</a></li>
                    {% endif %}
                    {% if person.username == request.user.username %}
                    <li role="presentation" class="usermenu" style="{{ highlight }}"><a href="{% url 'update_person' person.username %}"
                    style="color: #757575;">Edit profile!</a></li>
                    {% endif %}
                </ul>
			</div>

			<div class="components" style="padding-left: 20%; padding-right: 20%;">
	    		<br>
	    		<br>
          <div id = "confirmupdate"></div>
	    		<div id = "listpost">
                    <form action="{% url 'update_person_details' %}" method="post" id = "updateperson" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group text-center">
                          <label>Enter Your Firstname</label>
                            {{ form1.firstname }}
                          <p class="text-warning" id="erroremail"></p>
                        </div>
                        <div class="form-group text-center">
                          <label>Enter you Lastname</label>
                            {{ form1.lastname }}
                          <p class="text-warning" id=""></p>
                        </div>
                        <div class="form-group text-center">
                          <label>Enter You location</label>
                          {{ form1.location }}
                          <p class="text-warning" id="errorpassword"></p>
                        </div>
                        <div class="form-group text-center">
                          <label>Enter your intro.</label>
                            {{ form1.details }}
                          <p class="text-warning" id="erroremail"></p>
                        </div>
                        <div class="form-group text-center">
                          <label>Your workplace</label>
                            {{ form1.works_at }}
                          <p class="text-warning" id=""></p>
                        </div>
                        <div class="form-group text-center">
                          <label>Enter the name of your school</label>
                          {{ form1.school }}
                          <p class="text-warning" id="errorpassword"></p>
                        </div>
                        <div class="form-group text-center">
                          <label>Enter the name of your collage</label>
                          {{ form1.collage }}
                          <p class="text-warning" id="errorpassword"></p>
                        </div>
                        <div class="form-group text-center">
                          <label>What are your hobbies?</label>
                          {{ form1.interestedin }}
                          <p class="text-warning" id="errorpassword"></p>
                        </div>
                        <div class="form-group text-center fallback">
                          <label>Upload a nice pic of yours!</label>
                          {{ form1.profileimage }}
                          <p class="text-warning" id="errorpassword"></p>
                        </div>

                        <div class="form-group text-center"><button type="submit" class="btn btn-primary">Update</button></div>
                    </form>
                    <br>
	    			<br>
	    			<br>
	    		</div>
	    	</div>	
		</div>
        <div class="col-md-3 text-center" style="">
            <div class="text-center" style=" padding-left: 5% ;border-bottom: 1px solid #ccc;">
                <br>
                <br>
                <p style="color: #999;">Associated with channel</p>
                <p> Amity university</p>
            </div>
        </div>
	</div>
</div>
<script>
$('#updateperson').on('submit', function(event){
    console.log("follow function invoked");
    followfunc();
    event.preventDefault();
    return false; 
});

function followfunc() {
    console.log("update running") // sanity check
    $.ajax({
        url : "{% url 'update_person_details' %}", // the endpoint
        type : "POST",
        data : { 
        firstname   : $('#firstname').val(), 
        lastname    : $('#lastname').val(),
        details     : $('#details').val(),
        location    : $('#location').val(),
        details     : $('#details').val(),
        works_at    : $('#works_at').val(),
        school      : $('#school').val(),
        collage     : $('#collage').val(),
        interestedin: $('#interestedin').val(),
        profileimage: $('#profileimage').val(),
        },
        success : function(json) {
            console.log(json);
            var output = JSON.parse(json);
            if (output["updated"] == true) {
                $('#confirmupdate').html("<br><br><div class='alert alert-success' role='alert'>Details updated!</div>");

                // $('#listpost').empty();
                console.log(json);
            }
            else{
                $('#confirmupdate').html("<div class='alert alert-success' role='alert'>Password did not match.</div>");
            }
            // remove the value from the input
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
</script>
<script src="{% static 'javascripts/secure.js' %}"></script>
















