    {% extends 'navbar/nav.html' %}
    {% load staticfiles %}
    {% block title %}Feed | Stories{% endblock %}
    {% block content %}
    <div class="container-fluid">
    <br>
    <br>
    	<div class="row">
    		<div class="col-md-3 text-center" style="font-size: 16px;">

    		</div>
    		<div class="col-md-6">
					<div class="text-center" style="border-bottom: 2px solid #ccc;">
						<br>
						<a href="{% url 'home' %}" id="feedfilter">Latest Debates</a>
						<a href="{% url 'stories' %}" id="feedfilter" style="border-bottom: 2px solid #8BC34A;">Stories Updates</a>
						<a href="" id="feedfilter"></a>
						<br>
						<br>
					</div>
				<br>
				<br>
                {% for cards in storyfeed %}
				<div  class = "text-center" style="box-shadow: 0 0 8px 0 hsla(0,0%,70%,.7); padding: 15px; background-color: rgba(233, 30, 99, 0.51); border-radius: 7px;">
					<br>
                    <h4 style="color: #fff;">{{ cards.heading }}</h4>
					<p style="color: #fff;">{{ cards.body }}</p>
					<br>
					<p style="color: #fff;"><strong style="size: 20px;">-</strong>&nbsp &nbsp {{ cards.posted_by.username }}</p>	
				</div>
                <br>
                <br>
                {% endfor %}	
    		</div>
   			<div class="col-md-3">
    			<p>Kustomer is an evolution beyond traditional support applications that unifies all of your customer data and interactions.</p>
                <br>
                <p>The user experience is built around the customer so you can treat them like people instead of cases or tickets. Kustomer is the first system to completely integrate conversations, transactions and your company's proprietary data in one platform.</p>
    		</div>
    	</div>
    </div>
    {% endblock %}