{% include "navbar/nav.html" %}
{% load staticfiles %}
<br>
<br>
<div class="container">
	<div class="row">
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-3">
			        {% if org.photo %}
			            <img src ="{{ org.photo.url }}" style="width: 60%; border: 2px solid #fff; border-radius: 50%; display: block; margin: auto;">
			        {% else %}
			            <img src ="{% static 'images/person-icon.png' %}" style="width: 60%; border: 2px solid #fff; border-radius: 50%; display: block; margin: auto; margin-top: 15%;">
			        {% endif %}
				</div>
				<div class="col-lg-9 text-center" style="margin-left: auto;">
					<br>
					<br>
					{% if orgdetails.name  %}
					<p>
						{{ orgdetails.name }}
					</p>
					{% else %}
					<p>
					{{ org.username }}
					</p>
					{% endif %}
					<br>

					{% if orgdetails.details %}
					<p>
						{{ orgdetails.details }}
					</p>
					{% else %}
					<p>
					{{ orgdetails.name }} have not added any details yet.
					</p>
					{% endif %}
					<h5 style="color: #9e9e9e"><strong>Following({{ following }}) | Followers({{ followers }})</strong></h5>
				    <br>
				    	{% if cannotfollow == False and org.username != request.user.username  %}
				    	<div id = "deletelink" >
				    	   <button type="button" class="btn btn-primary" id = "followbutton">Follow</button>
				    	</div>
				    	<div id ="confirmfollow"></div> 
				    	<br>
				    	{% elif  org.username != request.user.username %}
				    	<div id = "getlink" >
				    	   <button type="button" class="btn btn-warning" onclick = "unfollowfunc()" id = "unfollowbutton">unfollow</button>
				    	</div>
				    	{% endif %}
				</div>
			</div>
			<br>
			<ul class="nav nav-tabs" style="border-bottom: 1px solid #ccc;">
	      		<li role="presentation" class="usermenu"><a href="{% url 'profile' org.username %}">About</a></li>
	      		<li role="presentation" class="usermenu"><a href="{% url 'blog' org.username %}" style="color: #757575; {{ highlight }}">Blogs</a></li>
	      		<li role="presentation" class="usermenu"><a href="{% url 'debatehosted' org.username %}"
	      			style="color: #757575;">Debate hosted</a></li>
	      		{% if org.username == request.user.username %}
	      		<li role="presentation" class="usermenu"><a href="{% url 'dashboard' org.username %}"
	      			style="color: #757575; ">Dashboard</a></li>
	      		{% endif %}
	    	</ul>
	    	<br>
	    	<br>
	    	<div class="row text-center" style="padding-left: 7%; padding-right: 7%; ">
	    	<br>
	    	<h3>ARTICLES</h3>
	    	<br>
	    	{% if blogs %}
	    	{% for blog in blogs %}
	    	<div class="col-md-4">
	    		<h4>{{ blog.heading }}</h4>
	    		<br>
	    		<p>{{ blog.description }}
	    		</p>
	    	</div>
	    	<br>
	    	{% endfor %}
	    	{% endif %}
	    	</div>
		</div>
	</div>
</div>
<script>
	
$('#followbutton').on('click', function(event){
    console.log("follow function invoked");
    followfunc();
    event.preventDefault();
    return false; 
});

function followfunc() {
    console.log("followfunc running") // sanity check
    $.ajax({
        url : "{% url 'follow_user' org.username %}", // the endpoint
        type : "POST", // http method
        success : function(json) {
            var output = JSON.parse(json);
            if (output["success"]) {
            	$("#followbutton").html("Unfollow");
            	$("#followbutton").attr("onclick", "unfollowfunc()");
            	$("#followbutton").attr("class", "btn btn-warning");
                $("#followbutton").attr("id", "unfollowbutton");
                console.log(json);
            };
            // remove the value from the input
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};

function unfollowfunc(){
	console.log("unfollow function invoked");
	$.ajax({
		url 	: "{% url 'unfollow_user' org.username %}",
		type 	: "POST",
		success : function(json){
			var output = JSON.parse(json);
            if (output["success"]) {
            	$("#unfollowbutton").html("Follow");
            	$("#unfollowbutton").attr("onclick", "followfunc()");
            	$("#unfollowbutton").attr("class", "btn btn-primary");
                $("#unfollowbutton").attr("id", "followbutton");
                console.log(json);
            }
			
		}
	});
}
</script>
<script src="{% static 'javascripts/secure.js' %}"></script>
<footer style="background-color: #eee;">
<div class="text-center" >
<br>
  <p>Demo by : Sk Samim Rana</p>
  <p>Contact information: <a href="mailto:samimsk007@gmail.com">
samimsk007@gmail.com</a>.</p>
</div>
<br>
</footer>